<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contas</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/231628da8a.js"></script>
    <style>
        body {
            font-family: 'Lato', sans-serif;
        }
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="navbar-brand">
                            Contas
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container" v-cloak>
            <div class="row"><div class="col-md-12 text-center">
                <h1>{{ titulo }}</h1>
                <h3>{{ status }}</h3>
            </div></div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <hr>
                    <ul class="nav nav-tabs">
                      <li v-for="link in menus" class="{{ activatedView == link.id ? 'active' : '' }}"><a href="#" @click.prevent="showView(link.id)">{{ link.nome }}</a></li>
                    </ul>
                    <br/>
                    <div v-if="!activatedView">
                        <h3 v-else="contas.length" class="text-info text-center">Não há contas</h3>
                        <table class="table table-hover" v-if="contas.length">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Vencimento</th>
                                    <th>Nome</th>
                                    <th>Valor</th>
                                    <th>Status</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(index,conta) in contas">
                                    <td>{{ index + 1 }}</td>
                                    <td>{{ conta.vencimento }}</td>
                                    <td>{{ conta.nome }}</td>
                                    <td>{{ conta.valor | currency 'R$ ' 2 }}</td>
                                    <td><span class="label" :class="{ 'label-success': conta.pago, 'label-danger': !conta.pago }">{{ conta.pago | status }}</span></td>
                                    <td>
                                        <div class="dropdown">
                                            <button class="btn btn-default btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Ações
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                                <li><a href="#" @click.prevent="carregarConta(conta)"><i class="fa fa-fw fa-pencil-square-o" aria-hidden="true"></i> Editar</a></li>
                                                <li><a href="#" @click.prevent="pagarConta(conta)"><i class="fa fa-fw fa-money" aria-hidden="true"></i> {{ conta.pago ? 'Não foi pago':'Pagar' }}</a></li>
                                                <li><a href="#" @click.prevent="removerConta(index,conta)"><i class="fa fa-fw fa-trash" aria-hidden="true"></i> Remover</a></li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <form v-if="activatedView" class="form-horizontal" @submit.prevent="cadastrar">
                        <div class="form-group">
                            <label for="nome" class="col-md-2 control-label">Vencimento</label>
                            <div class="col-md-5">
                                <input name="vencimento" type="text" class="form-control" v-model="conta.vencimento">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nome" class="col-md-2 control-label">Nome</label>
                            <div class="col-md-5">
                                <input name="nome" type="text" class="form-control" v-model="conta.nome">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="valor" class="col-md-2 control-label">Valor</label>
                            <div class="col-md-5">
                                <div class="input-group">
                                    <span class="input-group-addon">R$</span>
                                    <input name="valor" type="number" min="0" step="0.01" class="form-control" v-model="conta.valor">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-2">
                            <div class="form-group">
                                <button class="btn btn-primary form-control" type="submit">Cadastrar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript" src="node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript" src="filter.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>